<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <a class="skip-link" href="#main">{{ i18n "skip_link" }}</a>
        <div class="page">

            {{ partial "header.html" . }}

            <main id="main">
                {{ block "main" . }}{{ end }}
            </main>

            {{ partial "footer.html" . }}
        </div>

        <link rel="stylesheet" href="/pagefind/pagefind-ui.css">
        <script src="/pagefind/pagefind-ui.js"></script>
        <script>
         window.addEventListener('DOMContentLoaded', function () {
             new PagefindUI({ element: "#search", showSubResults: true, showImages: false });
         });
        </script>
        <script data-goatcounter="https://sepal.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </body>
</html>
